# Ensure all JavaScript files use LF
*.js text eol=lf

# Ensure all configuration files use LF
*.json text eol=lf
*.jsx text eol=lf
*.css text eol=lf


# Other file types (use CRLF if needed for Windows systems)
*.bat text eol=crlf
*.sh text eol=lf